section#intro h1 {
  font-size: 121px;
  line-height: 170px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

@media screen and (max-width: 991px) {
  section#intro h1 {
    font-size: 100px;
    line-height: 160px;
  }
}

@media screen and (max-width: 600px) {
  section#intro h1 {
    font-size: 81px;
    line-height: 135px;
  }
}

@media screen and (max-width: 600px) {
  section#intro h1 {
    font-size: 64px;
    line-height: 115px;
  }
}

@media screen and (max-width: 430px) {
  section#intro h1 {
    font-size: 49px;
    line-height: 93px;
  }
}

@media screen and (max-width: 380px) {
  section#intro h1 {
    font-size: 25px;
    line-height: 80px;
  }
}

section#intro h3 {
  font-size: 100px;
  line-height:64px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}

@media screen and (max-width: 991px) {
  section#intro h3 {
    font-size: 81px;
  }
}

@media screen and (max-width: 600px) {
  section#intro h3 {
    font-size: 64px;
  }
}

@media screen and (max-width: 600px) {
  section#intro h3 {
    font-size: 49px;
  }
}

@media screen and (max-width: 430px) {
  section#intro h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: 380px) {
  section#intro h3 {
    font-size: 25px;
  }
}